<div style="position: absolute; inset: 0; z-index: -1">
  <img fill priority ngSrc="./hero.webp" alt="Hero" style="object-fit: cover" />
</div>

<section style="padding: 64px 16px; justify-content: center; display: flex">
  @let _session = session();
  @if (!_session) {
    <lcsb-sign-in-form></lcsb-sign-in-form>
  } @else {
    <mat-card style="max-width: 480px; width: 100%">
      <img
        mat-card-image
        priority
        ngSrc="./card.webp"
        height="180"
        width="480"
        alt="Card"
      />
      <mat-card-header>
        <mat-card-title>You're signed in</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Your blood pressure data is ready.</p>
        <p></p>
      </mat-card-content>
      <mat-card-actions>
        <button routerLink="/bp" type="button" matButton="filled">
          View BP
        </button>
      </mat-card-actions>
    </mat-card>
  }
</section>
