<mat-card style="max-width: 480px; width: 100%; overflow: hidden">
  <img
    mat-card-image
    priority
    ngSrc="./card.webp"
    height="180"
    width="480"
    alt="Card"
  />
  <mat-card-header>
    <mat-card-title>Sign in</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p></p>
    <form
      id="sign-in-form"
      [formGroup]="signInFormGroup"
      (ngSubmit)="
        signIn(
          signInFormGroup.controls.email.value ?? '',
          signInFormGroup.controls.password.value ?? ''
        )
      "
    >
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input
          autocomplete="email"
          formControlName="email"
          matInput
          required
          type="email"
        />
        @if (
          signInFormGroup.controls.email.touched &&
          signInFormGroup.controls.email.errors?.['required']
        ) {
          <mat-error>Email is required</mat-error>
        }
        @if (
          signInFormGroup.controls.email.touched &&
          signInFormGroup.controls.email.errors?.['email']
        ) {
          <mat-error>Please enter a valid email address</mat-error>
        }
      </mat-form-field>
      @let _isPasswordHidden = isPasswordHidden();
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          [type]="_isPasswordHidden ? 'password' : 'text'"
          autocomplete="current-password"
          formControlName="password"
          matInput
          required
        />
        <button
          aria-label="Toggle visibility"
          tabindex="-1"
          [disabled]="signInFormGroup.controls.password.disabled"
          (click)="togglePasswordVisibility()"
          matIconButton
          matSuffix
          type="button"
        >
          <mat-icon>{{
            _isPasswordHidden ? 'visibility' : 'visibility_off'
          }}</mat-icon>
        </button>
        @if (
          signInFormGroup.controls.password.touched &&
          signInFormGroup.controls.password.errors?.['required']
        ) {
          <mat-error>Password is required</mat-error>
        }
        @if (
          signInFormGroup.controls.password.touched &&
          signInFormGroup.controls.password.errors?.['minlength']
        ) {
          <mat-error>Password is at least 6 characters long</mat-error>
        }
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button
      [disabled]="signInFormGroup.disabled || signInFormGroup.invalid"
      form="sign-in-form"
      matButton="filled"
      type="submit"
    >
      Sign in
    </button>
    <button
      [disabled]="signInFormGroup.disabled"
      form="sign-in-form"
      matButton
      type="reset"
    >
      Reset
    </button>
  </mat-card-actions>
  <mat-card-footer>
    @let _isLoading = isLoading();
    <mat-progress-bar
      mode="indeterminate"
      [style]="{ visibility: _isLoading ? 'visible' : 'hidden' }"
    ></mat-progress-bar>
  </mat-card-footer>
</mat-card>
