<section
  style="display: flex; gap: 16px; flex-direction: column; align-items: center"
>
  <mat-card style="max-width: 960px; overflow: hidden; width: 100%">
    <mat-card-content>
      @if (isLoading) {
        <div style="height: 572px"></div>
      } @else {
        <lcsb-bp-chart
          [chartConfiguration]="chartConfiguration"
          [bloodPressures]="bloodPressures"
        ></lcsb-bp-chart>
      }
    </mat-card-content>
    <mat-card-footer>
      <mat-progress-bar
        mode="indeterminate"
        [style]="{ visibility: isLoading ? 'visible' : 'hidden' }"
      ></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
  <mat-card style="max-width: 480px; width: 100%">
    <mat-card-content>
      <form
        id="chart-configuration-form"
        [formGroup]="chartConfigurationFormGroup"
        (ngSubmit)="
          setChartConfiguration({
            maximumValue:
              chartConfigurationFormGroup.controls.maximumValue.value ?? null,
            minimumValue:
              chartConfigurationFormGroup.controls.minimumValue.value ?? null,
            refreshInterval:
              chartConfigurationFormGroup.controls.refreshInterval.value ?? 5,
            axisType:
              chartConfigurationFormGroup.controls.axisType.value ?? 'linear',
          })
        "
      >
        <div style="text-align: center">
          <mat-button-toggle-group formControlName="axisType">
            <mat-button-toggle value="linear">Linear</mat-button-toggle>
            <mat-button-toggle value="logarithmic"
              >Logarithmic</mat-button-toggle
            >
          </mat-button-toggle-group>
        </div>
        <p></p>
        <mat-form-field>
          <mat-label>Maximum value</mat-label>
          <input formControlName="maximumValue" matInput type="number" />
          @if (
            chartConfigurationFormGroup.controls.maximumValue.touched &&
            chartConfigurationFormGroup.controls.maximumValue.errors?.[
              'required'
            ]
          ) {
            <mat-error>Maximum value is required</mat-error>
          }
        </mat-form-field>
        <mat-form-field>
          <mat-label>Minimum value</mat-label>
          <input formControlName="minimumValue" matInput type="number" />
          @if (
            chartConfigurationFormGroup.controls.minimumValue.touched &&
            chartConfigurationFormGroup.controls.minimumValue.errors?.[
              'required'
            ]
          ) {
            <mat-error>Minimum value is required</mat-error>
          }
        </mat-form-field>
        <mat-form-field>
          <mat-label>Refresh interval (seconds)</mat-label>
          <input
            formControlName="refreshInterval"
            matInput
            required
            type="number"
          />
          @if (
            chartConfigurationFormGroup.controls.refreshInterval.touched &&
            chartConfigurationFormGroup.controls.refreshInterval.errors?.[
              'required'
            ]
          ) {
            <mat-error>Refresh interval is required</mat-error>
          }
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button
        [disabled]="
          chartConfigurationFormGroup.disabled ||
          chartConfigurationFormGroup.invalid
        "
        form="chart-configuration-form"
        matButton="filled"
        type="submit"
      >
        Update chart
      </button>
    </mat-card-actions>
  </mat-card>
</section>
