@use '@angular/material' as mat;

.lcsb-toolbar {
  @include mat.icon-overrides(
    (
      color: var(--mat-sys-on-background),
    )
  );

  @include mat.toolbar-overrides(
    (
      container-background-color: var(--mat-sys-surface-container-low),
      container-text-color: var(--mat-sys-on-background),
    )
  );
}
