@use '@angular/material' as mat;

.lcsb-toolbar {
  @include mat.icon-overrides((
    color: var(--mat-sys-on-primary),
  ));

  @include mat.toolbar-overrides((
    container-background-color: var(--mat-sys-primary),
    container-text-color: var(--mat-sys-on-primary),
  ));
}
